@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ygstzm');
  src:  url('../fonts/icomoon.eot?ygstzm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ygstzm') format('truetype'),
    url('../fonts/icomoon.woff?ygstzm') format('woff'),
    url('../fonts/icomoon.svg?ygstzm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\f001";
}
.icon-booklog:before {
  content: "\e900";
}
.icon-casto:before {
  content: "\e901";
}
.icon-mo:before {
  content: "\e902";
}
.icon-remp:before {
  content: "\e903";
}
.icon-stobo:before {
  content: "\e904";
}
.icon-triph:before {
  content: "\e905";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-film:before {
  content: "\f008";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-language:before {
  content: "\f1ab";
}

