* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
html, body {
  font-family: 'Noto Sans Japanese', sans-serif;
  background-color: #252525;
}
nav {
  width: 720px;
  margin: 50px auto 40px auto;
}
a:link,
a:visited {
  font-weight: normal;
  color: #fff;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
ul li {
  flex-basis: 240px;
  list-style-type: none;
  text-align: center;
}
ul li a {
  margin: 0 20px 20px 20px;
}
.blog .icon i {
  background-color: #FF2259;
}
.booklog .icon i {
  background-color: #69A1B2;
}
.twitter .icon i {
  background-color: #6BAEE7;
}
.github .icon i {
  background-color: #6F6D6D;
}
.filmarks .icon i {
  background-color: #444444;
}
.tabelog .icon i {
  background-color: #FFA600;
}
.sumally .icon i {
  background-color: #EE4E22;
}
.facebook .icon i {
  background-color: #466296;
}
.remp .icon i {
  background-color: #D3413B;
}
.stobo .icon i {
  background-color: #E38A3D;
}
.casto .icon i {
  background-color: #4FD093;
}
.triph .icon i {
  background-color: #7CBFCB;
}
.mo .icon i {
  background-color: #EEC74F;
}
.chab .icon i {
  background-color: #007EC6;
}
.simple-honyaku .icon i {
  background-color: #CF5B65;
}
.x-play .icon i {
  background-color: #3770FF;
}
.mail .icon i {
  background-color: #9985D9;
}
.icon i {
  font-size: 3em;
  display: inline-block;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  line-height: 180px;
  text-align: center;
  border-radius: 50%;
  border: solid #fff 12px;
}
.label {
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
}
